body {
    background-color: #fff;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.logo span {
    font-size: 18px;
    font-weight: bold;
    color: #fff;
}

.toggle-menu {
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

.side-menu {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100vh;
    background-color: #bbb;
    padding: 20px;
    transition: all 0.3s ease;
    z-index: 1000;
}

.side-menu.show {
    right: 0;
}

.side-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.side-menu li {
    margin-bottom: 10px;
}

.side-menu a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.category {
    margin-left: 0;
    margin-right: 10px;
    width: 100%;
    height: 300px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.category h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* تعديلات للهواتف */
@media only screen and (max-width: 768px) {
    .category {
        margin-left: 0;
        margin-right: 5px;
        width: 100%;
        height: 150px;
    }
}